@model IEnumerable<TUnidad>

@{
  ViewData["Title"] = "Asignar Unidades";
}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Asignar Herramientas en N°: @ViewBag.Cotizacion.IdCotizacion</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">

  <div class="col-sm-12">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Herramientas</h3>
      </div>
    </div>
    @foreach (var unidades in Model.Where(x => x.IdTipoUnidad == 2).ToList())
    {
      <div class="row" style="padding:0 5px 5%">
        <div class="col-6 col-sm-5">
          Serie: @unidades.Serie ,Nombre: @unidades.Nombre ,Modelo: @unidades.Modelo,Marca: @unidades.Marca,Cantidad Disponible: @unidades.Cantidad 
        </div>
        <div class="col-6 col-sm-1">
          <label for="Cantidad" class="form-label">Cantidad:</label>
          <input class="form-control" id="@unidades.Serie-Cantidad" name="Cantidad"
          >
        </div>
        <div class="col-6 col-sm-1" style="display:flex">
          <a class="btn btn-primary" id="idAgregarPartida"
          onclick="addPartida('@unidades.Serie',' @unidades.Nombre',' @unidades.Modelo',' @unidades.Marca');" style="align-self:flex-end"><i
            class="fas fa-plus"></i></a>
        </div>
      </div>
    }
  </div>
  <hr />
  <hr />
  <table id="partidasAgregadas" class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">N° Serie</th>
        <th scope="col">Nombre </th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <br />
  <br />
  <div style="text-align: end; margin: 4px;">
    <button type="submit" style="width:10%" class="btn btn-info" onclick="AgregarCotizacion('@ViewBag.Cotizacion.IdCotizacion')">Asignar</button>
  </div>
</section>

@section scripts{
<script>
  var partidasxObra = [];
  
  function addPartida(Serie,Nombre,Modelo,Marca) {
    var cantidad = Number(document.getElementById(`${Serie}-Cantidad`).value);
    var row = "<tr>" +
      "<td>" + Serie + "</td>" +
      "<td>" + Nombre + "</td>" +
      "<td>" + Modelo + "</td>" +
      "<td>" + Marca + "</td>" +
       "<td>" + cantidad + "</td>" +
      "</tr>";
    $('#partidasAgregadas > tbody').append(row);
  }

 
  function AgregarCotizacion(IdCotizacion)
  {
    var row = document.getElementById('partidasAgregadas').rows.length;
   
    var partida = new Object();
    partida.IdCotizacion = IdCotizacion;
    for (i = 1; i < row; i++) {
        var parti = new Object();
        parti.IdSerie = document.getElementById("partidasAgregadas").rows[i].cells.item(0).innerHTML;
          parti.IdCotizacion =  IdCotizacion;
           parti.Cantidad = Number(document.getElementById("partidasAgregadas").rows[i].cells.item(4).innerHTML);
        partidasxObra.push(parti);
    }
    partida.TCotizacionxUnidads = partidasxObra;
    $.ajax({
        type: 'post',
        url: 'https://localhost:5001/AHerramientas/Agregar',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(partida),
        dataType: "json",
        success: function (data, textStatus, jqXHR) {
          console.log("exito");
          location.href = "https://localhost:5001/Cotizar/ListarAdmin"
        }
    });
  }
</script>
}

