@model TUsuario;
<body>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Asignar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Asignar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

        <section class="content">
      <div class="container-fluid">
        <!-- START ALERTS AND CALLOUTS -->
        <h5 class="mt-4 mb-2">Asignar Rol</h5>

        <div class="row">
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-bullhorn"></i>
                  Asignar
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="callout callout-danger">
                  <h5>DNI:</h5>

                  <p>@Html.DisplayFor(model =>model.DniUsuarioNavigation.Dni)</p>
                </div>

                <div class="callout callout-danger">
                  <h5>Nombres:</h5>

                  <p>@Html.DisplayFor(model =>model.DniUsuarioNavigation.Nombre)</p>
                </div>
                   <div class="callout callout-danger">
                  <h5>Apellidos:</h5>

                  <p>@Html.DisplayFor(model =>model.DniUsuarioNavigation.Apellido)</p>
                </div>
                <div class="callout callout-danger">
                  <h5>Celular:</h5>

                  <p>@Html.DisplayFor(model =>model.DniUsuarioNavigation.Celular)</p>
                </div>
                <div class="callout callout-danger">
                  <h5>Correo:</h5>

                  <p>@Html.DisplayFor(model =>model.DniUsuarioNavigation.Correo)</p>
                </div>
                <div class="callout callout-danger">
                  <h5>Dirección:</h5>

                  <p>@Html.DisplayFor(model =>model.DniUsuarioNavigation.Direccion)</p>
                </div>
               
               
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
 <section>
              <form asp-action="GuardarAsignar" asp-controller="Usuario" method="post">
                <div class="card-body">
                  <input type="hidden" asp-for="IdUsuario"></input>
                  <div class="form-group" style="display: none">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="text" class="form-control"  placeholder="Celular" asp-for= "Contraseña">
                  </div>
                  <div class="form-group" style="display: none">
                    <label for="exampleInputPassword1">Usuario</label>
                    <input type="text" class="form-control"  placeholder="Celular" asp-for= "DniUsuario">
                  </div>
                   <div class="form-group">
                      <label for="exampleInputPassword1">Asignar Rol</label>
                    <select class="form-control select2" style="width: 100%;"asp-for="IdRolUsuario" asp-items="@(new SelectList(ViewBag.ListarRol,"IdRol","NombreRol"))">
                  </select>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Asignar</button>
                   <button type="submit" class="btn btn-primary">Cancelar</button>
                </div>
              </form>
  </section>          

  <script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
     $('.duallistbox').bootstrapDualListbox()
</script>
  </body>      

    <!-- /.content -->
