@using Copreter.Domain.Model.Enums;
@using Copreter.Resources;
@model Copreter.Models.Pedido.PedidoIndexVM;
@using System.Security.Claims;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Obra)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Empresa)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Ubicacion)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Fecha_Inicio)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Estado)
            </th>
            <th>
                @Html.DisplayName(@Resource.UNIDAD_Tipo_Unidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DtoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Obra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FechaInicio))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUnidad)
                </td>
                <td>
                    @{
                        int rolId = int.Parse(User.FindFirstValue(ClaimTypes.Role));

                        switch ((ERolEnum)rolId)
                        {
                            case ERolEnum.Operario:
                                {
                                    if (item.IdTipoUnidad == 1)
                                    {
                                        <a class="btn btn-danger" asp-controller="Incidencia" asp-action="Index" asp-route-idPedido="@item.Id">Incidencias</a>
                                        <a class="btn btn-success" asp-controller="Incidencia" asp-action="Crear" asp-route-idPedido="@item.Id">Agregar incidencia</a>
                                    }
                                }
                                break;
                            case ERolEnum.Administrador:
                            case ERolEnum.Gerente:
                                {
                                    if (item.IdTipoUnidad == 1 && item.IdEstadoPedido == (int)EPedidoEstado.Enviado)
                                    {
                                        <a class="btn btn-danger" asp-controller="Incidencia" asp-action="Index" asp-route-idPedido="@item.Id">Incidencias</a>
                                    }

                                    if (item.IdEstadoPedido == (int)EPedidoEstado.Pendiente)
                                    {
                                        <a type="button" class="btn btn-warning" asp-action="Aceptar" asp-route-id="@item.Id" title="Aceptar">
                                            <span class="fas fa-spell-check" aria-hidden="true"></span>
                                        </a>

                                        <a type="button" class="btn btn-warning" asp-action="Rechazar" asp-route-id="@item.Id" title="Rechazar">
                                            <span class="far fa-window-close" aria-hidden="true"></span>
                                        </a>
                                    }

                                    if (item.IdEstadoPedido == (int)EPedidoEstado.Aceptado)
                                    {
                                        if (item.IdTipoUnidad == 2)
                                        {
                                            <a type="button" class="btn btn-info" asp-action="Asignar" asp-route-id="@item.Id" title="Asignar">
                                                <span class="fas fa-user-tag" aria-hidden="true"></span>
                                            </a>
                                        }

                                        <a type="button" class="btn btn-warning" asp-asp-controller="Adenda" asp-action="Cargar" asp-route-id="@item.Id" title="Enviar adenda">
                                            <span class="	fas fa-upload" aria-hidden="true"></span>
                                        </a>
                                    }
                                }
                                break;
                            case ERolEnum.Cliente:
                                {
                                    <a type="button" class="btn btn-primary" asp-action="Detalle" asp-route-id="@item.Id" title="Detalle">
                                        <span class="far fa-eye" aria-hidden="true"></span>
                                    </a>
                                    //<button type="button" class="btn btn-danger" data-toggle="modal" onclick="eliminar(@item.Id);">
                                    //    <span class="fa-light fa-trash" aria-hidden="true"></span>
                                    //</button>

                                }
                                break;
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>