@using Copreter.Resources;
@model Copreter.Models.Pedido.PedidoIndexVM;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Obra)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Empresa)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Ubicacion)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Fecha_Inicio)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DtoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Obra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>
                <td>
                    @if (@item.IdEstadoPedido == 1)
                    {
                        <a type="button" class="btn btn-info" asp-action="Asignar" asp-route-id="@item.Id">
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                        </a>

                        <a type="button" class="btn btn-warning" asp-action="Rechazar" asp-route-id="@item.Id">
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                        </a>
                    }

@*                    <a type="button" class="btn btn-success" asp-action="Editar" asp-route-id="@item.Id">
                        <span class="fa fa-pencil" aria-hidden="true"></span>
                    </a>*@

               @*     <button type="button" class="btn btn-danger" data-toggle="modal" onclick="eliminar(@item.Id);">
                        <span class="fa-light fa-trash" aria-hidden="true"></span>
                    </button>*@
                </td>
            </tr>
        }
    </tbody>
</table>