@using Copreter.Domain.Model.Enums;
@using Copreter.Resources;
@model Copreter.Models.Pedido.PedidoIndexVM;
@using System.Security.Claims;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Obra)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Empresa)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Ubicacion)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Fecha_Inicio)
            </th>
            <th>
                @Html.DisplayName(@Resource.PEDIDO_Estado)
            </th>
            <th>
                @Html.DisplayName(@Resource.UNIDAD_Tipo_Unidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DtoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Obra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUnidad)
                </td>
                <td>
                    @{
                        int rolId = int.Parse(User.FindFirstValue(ClaimTypes.Role));

                        switch ((ERolEnum)rolId)
                        {
                            case ERolEnum.Operario:
                                {
                                    if (item.IdTipoUnidad == 1)
                                    {
                                        <a class="btn btn-danger" asp-controller="Incidencia" asp-action="Index" asp-route-idPedido="@item.Id">Incidencias</a>
                                        <a class="btn btn-success" asp-controller="Incidencia" asp-action="Crear" asp-route-idPedido="@item.Id">Agregar incidencia</a>
                                    }
                                }
                                break;
                            case ERolEnum.Administrador:
                            case ERolEnum.Gerente:
                                {
                                    if (item.IdTipoUnidad == 1)
                                    {
                                        <a class="btn btn-danger" asp-controller="Incidencia" asp-action="Index" asp-route-idPedido="@item.Id">Incidencias</a>
                                    }

                                    if (item.IdEstadoPedido == 1)
                                    {
                                        <a type="button" class="btn btn-warning" asp-action="Aceptar" asp-route-id="@item.Id">
                                            <span class="fas fa-eye-slash" aria-hidden="true"></span>
                                        </a>
                                    }
                                    if (item.IdTipoUnidad == 2)
                                    {
                                        <a type="button" class="btn btn-info" asp-action="Asignar" asp-route-id="@item.Id">
                                            <span class="fas fa-eye" aria-hidden="true"></span>
                                        </a>
                                    }

                                    <a type="button" class="btn btn-warning" asp-action="Rechazar" asp-route-id="@item.Id">
                                        <span class="fas fa-eye-slash" aria-hidden="true"></span>
                                    </a>
                                }
                                break;
                            case ERolEnum.Cliente:
                                {
                                    <a type="button" class="btn btn-primary" asp-action="Detalle" asp-route-id="@item.Id">
                                        <span class="far fa-eye" aria-hidden="true"></span>
                                    </a>
                                    //<button type="button" class="btn btn-danger" data-toggle="modal" onclick="eliminar(@item.Id);">
                                    //    <span class="fa-light fa-trash" aria-hidden="true"></span>
                                    //</button>

                                }
                                break;
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>