@using Copreter.Resources;
@model Copreter.Models.Partida.PartidaEditableVM;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Resource.PARTIDA_Titulo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@Resource.PARTIDA_Titulo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@Resource.CARD_TITLE</h3>
                        </div>
                        <div class="card-body">
                            <div id="contentPartial">

                                <form asp-action="Editar" asp-controller="Partida" method="post">
                                    <div class="card-body">

                                        <input type="hidden" asp-for="Id" />
                                        <input type="hidden" asp-for="IdUsuarioRegistro" />
                                        <input type="hidden" asp-for="FechaRegistro" />

                                        <div class="form-group">
                                            <label>@Resource.PARTIDA_Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre" asp-for="Nombre">
                                            <span asp-validation-for="Nombre" class="text-danger"> </span>
                                        </div>
                                        <div class="form-group">
                                            <label>@Resource.PARTIDA_Precio</label>
                                            <input type="text" class="form-control" placeholder="Precio Unidad" asp-for="PrecioUnidad">
                                            <span asp-validation-for="PrecioUnidad" class="text-danger"> </span>
                                        </div>
                                        <div class="form-group">
                                            <label>@Resource.PARTIDA_Tipo</label>
                                            <select asp-for="IdTipoPartida" class="form-control" asp-items="Model.TipoLista"></select>
                                            <span asp-validation-for="IdTipoPartida" class="text-danger"> </span>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">@Resource.BTN_Guardar</button>
                                        <button asp-action="Index" class="btn btn-primary">@Resource.BTN_Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>