@using Copreter.Resources;
@model Copreter.Models.Cotizacion.CotizacionIndexVM;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Nro)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Obra)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Total)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Fecha)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DtoList)
        {
            <tr>
                <td>
                    Cotización-@Html.DisplayFor(modelItem =>item.Id)
                </td>
                <td>
                    Obra-@Html.DisplayFor(modelItem =>item.IdObra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoCotizacion)
                </td>
                <td>

                    <a type="button" class="btn btn-success" asp-action="CotizacionPdf" asp-route-id="@item.Id">
                        <span class="far fa-file-pdf" aria-hidden="true"></span>
                    </a>

                    @{
                        switch (item.IdEstadoCotizacion)
                        {
                            case 2:
                                {
                                    <a class="btn btn-primary" asp-controller="Factura" asp-action="Enviar" asp-route-id="@item.Id">Enviar Factura</a>
                                }
                                break;
                            case 5:
                                {
                                    <a class="btn btn-primary" asp-controller="Trabajador" asp-action="Asignar" asp-route-idCotizacion="@item.Id">Asignar Trabajador</a>
                                }
                                break;
                            case 9:
                                {
                                    <a class="btn btn-primary" asp-controller="Unidad" asp-action="Asignar" asp-route-idCotizacion="@item.Id">Asignar Herramientas</a>
                                }
                                break;
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>