@model IEnumerable<TPartidum>

@{
  ViewData["Title"] = "Cotizar Obra";
}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Cotizar @ViewBag.Obra.NombreObra</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">

  <div class="col-sm-12">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Sistema Drywall</h3>
      </div>
    </div>
    @foreach (var partida in Model.Where(x => x.IdTipoPartida == 1).ToList())
    {
      <div class="row" style="padding:0 5px 5%">
        <div class="col-6 col-sm-5">
          @partida.IdPartida . @partida.NombrePartida
        </div>
        <div class="col-6 col-sm-1">
          <label for="unidadMedida" class="form-label">Unidad:</label>
          <select class="form-select form-control" id="@partida.IdPartida-UnidadMedida" name="unidadMedida"
          aria-label="Default select example">
            <option selected value="Gbl">gbl</option>
            <option value="m2">m2</option>
            <option value="und">un</option>
            <option value="ml">ml</option>
          </select>
        </div>
        <div class="col-6 col-sm-1">
          <label for="metrado" class="form-label">Metrado:</label>
          <input class="form-control" id="@partida.IdPartida-Metrado" name="metrado"
          onblur="cambioParcial(@partida.IdPartida)">
        </div>
        <div class="col-6 col-sm-2">
          <label for="precioUnitario" class="form-label">P. Unitario:</label>
          <input type="text" class="form-control" value="@partida.PrecioUnidad" id="@partida.IdPartida-PrecioUnitario"
          name="precioUnitario" readonly>
        </div>
        <div class="col-6 col-sm-2">
          <label for="parcial" class="form-label">Parcial:</label>
          <input class="form-control" id="@partida.IdPartida-Parcial" value="0.00" name="parcial">
        </div>
        <div class="col-6 col-sm-1" style="display:flex">
          <a class="btn btn-primary" id="idAgregarPartida"
          onclick="addPartida(@partida.IdPartida,'@partida.NombrePartida');" style="align-self:flex-end"><i
            class="fas fa-plus"></i></a>
        </div>
      </div>
    }
  </div>
  <hr />
  <div class="col-sm-12">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Encofrados</h3>
      </div>
    </div>
    @foreach (var partida in Model.Where(x => x.IdTipoPartida == 2).ToList())
    {
      <div class="row" style="padding:0 5px 5%">
        <div class="col-6 col-sm-5">
          @partida.IdPartida . @partida.NombrePartida
        </div>
        <div class="col-6 col-sm-1">
          <label for="unidadMedida" class="form-label">Unidad:</label>
          <select class="form-select form-control" id="@partida.IdPartida-UnidadMedida" name="unidadMedida"
          aria-label="Default select example">
            <option selected value="Gbl">gbl</option>
            <option value="m2">m2</option>
            <option value="und">un</option>
            <option value="ml">ml</option>
          </select>
        </div>
        <div class="col-6 col-sm-1">
          <label for="metrado" class="form-label">Metrado:</label>
          <input class="form-control" id="@partida.IdPartida-Metrado" name="metrado"
          onblur="cambioParcial(@partida.IdPartida)">
        </div>
        <div class="col-6 col-sm-2">
          <label for="precioUnitario" class="form-label">P. Unitario:</label>
          <input type="text" class="form-control" value="@partida.PrecioUnidad" id="@partida.IdPartida-PrecioUnitario"
          name="precioUnitario" readonly>
        </div>
        <div class="col-6 col-sm-2">
          <label for="parcial" class="form-label">Parcial:</label>
          <input class="form-control" id="@partida.IdPartida-Parcial" value="0.00" name="parcial">
        </div>
        <div class="col-6 col-sm-1" style="display:flex">
          <a class="btn btn-primary" id="idAgregarPartida"
          onclick="addPartida(@partida.IdPartida,'@partida.NombrePartida');" style="align-self:flex-end"><i
            class="fas fa-plus"></i></a>
        </div>
      </div>
    }
  </div>
   <hr />
  <table id="partidasAgregadas" class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">N° Partida</th>
        <th scope="col">Nombre Partida</th>
        <th scope="col">Unidad</th>
        <th scope="col">Metrado</th>
        <th scope="col">Parcial</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <br />
  <div style="text-align: right">
    <h2>Total: S/. <span id="registrarTotal">0.00</span></h2>
  </div>
  <br />
  <div style="text-align: end; margin: 4px;">
    <button type="submit" style="width:10%" class="btn btn-info" onclick="AgregarCotizacion('@ViewBag.Obra.IdObra')">Cotizar</button>
  </div>
</section>
@section scripts{
<script>
  var costoTotal = 0.00;
  var partidasxObra = [];
  function addPartida(idPartida, nombrePartida) {
    var medida = $("#" + idPartida + "-UnidadMedida" + " option:selected").text();
    var e = document.getElementById(`${idPartida}-UnidadMedida`);
    var unidadMedida = e.options[e.selectedIndex].text;
    var unidad = Number(document.getElementById(`${idPartida}-PrecioUnitario`).value);
    var metrado = Number(document.getElementById(`${idPartida}-Metrado`).value);
    var parcial = unidad * metrado;
    var row = "<tr>" +
      "<td>" + idPartida + "</td>" +
      "<td>" + nombrePartida + "</td>" +
      "<td>" + unidadMedida + "</td>" +
      "<td>" + metrado + "</td>" +
      "<td>" + parseFloat(parcial).toFixed(2) + "</td>" +
      "</tr>";
    $('#partidasAgregadas > tbody').append(row);
    costoTotal += parseFloat(parcial);
    $('#registrarTotal').text(parseFloat(costoTotal).toFixed(2));
    document.getElementById(`${idPartida}-Metrado`).value = '';
    document.getElementById(`${idPartida}-Parcial`).value = '0.00';
  }
  function cambioParcial(idPartida) {
    let meter = Number(document.getElementById(`${idPartida}-Metrado`).value);
    let puni = Number(document.getElementById(`${idPartida}-PrecioUnitario`).value);
    let partial = parseFloat(meter * puni).toFixed(2);
    document.getElementById(`${idPartida}-Parcial`).value = partial;
  }
  function AgregarCotizacion(idObra)
  {
    var row = document.getElementById('partidasAgregadas').rows.length;
    var partida = new Object();
    partida.total = Number(costoTotal);
    partida.idObra = idObra;
    for (i = 1; i < row; i++) {
        var parti = new Object();
        parti.idPartida = document.getElementById("partidasAgregadas").rows[i].cells.item(0).innerHTML;
        parti.idObra = idObra;
        parti.unidad = document.getElementById("partidasAgregadas").rows[i].cells.item(2).innerHTML;
        parti.metrado = Number(document.getElementById("partidasAgregadas").rows[i].cells.item(3).innerHTML);
        parti.parcial = parseFloat(document.getElementById("partidasAgregadas").rows[i].cells.item(4).innerHTML);
        partidasxObra.push(parti);
    }
    partida.TObraxPartida = partidasxObra;
    $.ajax({
        type: 'post',
        url: 'https://localhost:5001/Cotizar/Agregar',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(partida),
        dataType: "json",
        success: function (data, textStatus, jqXHR) {
          console.log("exito");
          location.href = "https://localhost:5001/Cotizar/Listar"
        }
    });
  }
</script>
}

