@using Copreter.Resources;
@using Copreter.Utils;
@model Copreter.Models.Cotizacion.CotizarVM;

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Resource.COTIZACION_COTIZAR_Titulo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@Resource.COTIZACION_COTIZAR_Titulo @Model.Obra.NombreObra</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-gray shadow-lg">
                        <div class="card-header">
                            <h3 class="card-title">Informar de IGV</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                                <div class="row" style="margin: 1rem;">
                                    <div class="col-md-4">
                                    </div>

                                    <div class="col-md-4">
                                    </div>

                                    <!-- /.col -->
                                    <div class="col-md-4">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" asp-for="IsIgv" />
                                            <label class="form-check-label">@Resource.CALCULO_INCLUYE_IGV</label>
                                            <span asp-validation-for="IsIgv" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                  
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-success shadow-sm">
                        <div class="card-header">
                            <h3 class="card-title">Sistema Drywall</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div>

                                @foreach (var partida in Model.DtoList.Where(x => x.IdTipoPartida == 1).ToList())
                                {
                                    <div class="row" style="padding:0 5px 5%">
                                        <div class="col-6 col-sm-5">
                                            @partida.Id . @partida.Nombre
                                        </div>
                                        <div class="col-6 col-sm-1">
                                            <label for="unidadMedida" class="form-label">Unidad:</label>
                                            <select id="@partida.Id-UnidadMedida" class="form-control" asp-items="Model.UnidadMedidaLista"></select>
                                        </div>
                                        <div class="col-6 col-sm-1">
                                            <label for="metrado" class="form-label">Metrado:</label>
                                            <input class="form-control" id="@partida.Id-Metrado" name="metrado"
                                                   onblur="cambioParcial(@partida.Id)">
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <label for="precioUnitario" class="form-label">P. Unitario:</label>
                                            <input type="text" class="form-control" value="@partida.PrecioUnidad" id="@partida.Id-PrecioUnitario"
                                                   name="precioUnitario" readonly>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <label for="parcial" class="form-label">Parcial:</label>
                                            <input class="form-control" id="@partida.Id-Parcial" value="0.00" name="parcial" readonly>
                                        </div>
                                        <div class="col-6 col-sm-1" style="display:flex">
                                            <a class="btn btn-primary" id="idAgregarPartida"
                                               onclick="addPartida(@partida.Id,'@partida.Nombre', @Model.Igv);" style="align-self:flex-end">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-warning shadow">
                        <div class="card-header">
                            <h3 class="card-title">Encofrados</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div>

                                @foreach (var partida in Model.DtoList.Where(x => x.IdTipoPartida == 2).ToList())
                                {
                                    <div class="row" style="padding:0 5px 5%">
                                        <div class="col-6 col-sm-5">
                                            @partida.Id . @partida.Nombre
                                        </div>
                                        <div class="col-6 col-sm-1">
                                            <label for="unidadMedida" class="form-label">Unidad:</label>
                                            <select id="@partida.Id-UnidadMedida" class="form-control" asp-items="Model.UnidadMedidaLista"></select>
                                        </div>
                                        <div class="col-6 col-sm-1">
                                            <label for="metrado" class="form-label">Metrado:</label>
                                            <input class="form-control" id="@partida.Id-Metrado" name="metrado"
                                                   onblur="cambioParcial(@partida.Id)">
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <label for="precioUnitario" class="form-label">P. Unitario:</label>
                                            <input type="text" class="form-control" value="@partida.PrecioUnidad" id="@partida.Id-PrecioUnitario"
                                                   name="precioUnitario" readonly>
                                        </div>
                                        <div class="col-6 col-sm-2">
                                            <label for="parcial" class="form-label">Parcial:</label>
                                            <input class="form-control" id="@partida.Id-Parcial" value="0.00" name="parcial" readonly>
                                        </div>
                                        <div class="col-6 col-sm-1" style="display:flex">
                                            <a class="btn btn-primary" id="idAgregarPartida"
                                               onclick="addPartida(@partida.Id,'@partida.Nombre', @Model.Igv);" style="align-self:flex-end">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                }

                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-danger shadow-lg">
                        <div class="card-header">
                            <h3 class="card-title">TOTAL</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div>

                                <table id="partidasAgregadas" class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">N° Partida</th>
                                            <th scope="col">Nombre Partida</th>
                                            <th scope="col">Unidad</th>
                                            <th scope="col">Metrado</th>
                                            <th scope="col">Parcial</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <br />
                                <div style="text-align: right">
                                    <h2>Sub Total: S/. <span id="registrarSubTotal">0.00</span></h2>
                                </div>
                                <br />
                                <div id="registrarIgvDiv" style="text-align: right">
                                    <h2>Igv (@Model.Igv %):  S/. <span id="registrarIgvCal">0.00</span></h2>
                                </div>
                                <br />
                                <div style="text-align: right">
                                    <h2>Total: S/. <span id="registrarTotal">0.00</span></h2>
                                </div>
                                <br />

                                <div style="text-align: end; margin: 4px;">
                                    <button style="width:10%" class="btn btn-info" onclick="AgregarCotizacion(@Model.Obra.Id)">Cotizar</button>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
    {
    <script type="text/javascript">


        $(document).ready(function () {

            $("#IsIgv").change(function (e) {
                limpiarCalculos();
            });

        });

        var costoSubTotal = 0.00;
        var costoGananciaEmpresa = 0.00;
        var costoIgv = 0.00;
        var costoTotal = 0.00;
        var igvCal = 0.00;

        function limpiarCalculos() {
            //location.href = '@Url.Action(Keys.ActionKeys.Index, Keys.ControllerKeys.Obra)';
        }

        function cambioParcial(idPartida) {
            let meter = Number(document.getElementById(`${idPartida}-Metrado`).value);
            let puni = Number(document.getElementById(`${idPartida}-PrecioUnitario`).value);
            let partial = parseFloat(meter * puni).toFixed(2);
            document.getElementById(`${idPartida}-Parcial`).value = partial;
        }

        function addPartida(idPartida, nombrePartida, igv) {

            var incluyeIgv = $("#IsIgv").prop("checked");

            var medida = $("#" + idPartida + "-UnidadMedida" + " option:selected").text();
            var e = document.getElementById(`${idPartida}-UnidadMedida`);
            var unidadMedida = e.options[e.selectedIndex].text;
            var unidad = Number(document.getElementById(`${idPartida}-PrecioUnitario`).value);
            var metrado = Number(document.getElementById(`${idPartida}-Metrado`).value);
            var parcial = unidad * metrado;
            var row = "<tr>" +
                "<td>" + idPartida + "</td>" +
                "<td>" + nombrePartida + "</td>" +
                "<td>" + unidadMedida + "</td>" +
                "<td>" + metrado + "</td>" +
                "<td>" + parseFloat(parcial).toFixed(2) + "</td>" +
                "</tr>";
            $('#partidasAgregadas > tbody').append(row);
            costoSubTotal += parseFloat(parcial);

            igvCal = igv / 100;

            if (incluyeIgv == true) {

                costoGananciaEmpresa = costoSubTotal / 1.18;
                //costoSubTotal = parseFloat(costoTotal);
                costoIgv = costoGananciaEmpresa * igvCal;
                costoTotal = costoGananciaEmpresa + costoIgv;

                // $("#registrarIgvDiv").removeClass("hiddenLoading");
                $('#registrarSubTotal').text(costoGananciaEmpresa.toFixed(2));
                $('#registrarIgvCal').text(costoIgv.toFixed(2));

            } else {
                // $("#registrarIgvDiv").addClass("hiddenLoading");

                costoIgv = costoSubTotal * igvCal;
                costoTotal = costoSubTotal + costoIgv;
                $('#registrarIgvCal').text(costoIgv.toFixed(2));
                $('#registrarSubTotal').text(costoSubTotal.toFixed(2));
            }

            $('#registrarTotal').text(costoTotal.toFixed(2));
            document.getElementById(`${idPartida}-Metrado`).value = '';
            document.getElementById(`${idPartida}-Parcial`).value = '0.00';
        }

        function AgregarCotizacion(idObra) {
            var partidasxObra = [];

            var row = document.getElementById('partidasAgregadas').rows.length;

            for (i = 1; i < row; i++) {
                var parti = {

                    idPartida: document.getElementById("partidasAgregadas").rows[i].cells.item(0).innerHTML,
                    idObra: idObra,
                    unidad: document.getElementById("partidasAgregadas").rows[i].cells.item(2).innerHTML,
                    metrado: Number(document.getElementById("partidasAgregadas").rows[i].cells.item(3).innerHTML),
                    parcial: parseFloat(document.getElementById("partidasAgregadas").rows[i].cells.item(4).innerHTML)
                };
                partidasxObra.push(parti);
            };

            var param = {
                isIgv: $("#IsIgv").prop("checked"),
                subTotal: Number(costoSubTotal),
                total: Number(costoTotal),
                IdObra: idObra,
                lista: partidasxObra
            };

            $.llamadaAjax('POST', 'html', 'json', '@Url.Action(Keys.ActionKeys.PostCotizar, Keys.ControllerKeys.Cotizacion)', JSON.stringify(param), function (data) {

                //alert('Hola');
                location.href = '@Url.Action(Keys.ActionKeys.Index, Keys.ControllerKeys.Obra)';

            }, function (XMLHttpRequest, textStatus, errorThrown) {
                notificacionAjax('@Resource.RESULT_ERROR', errorThrown, '@Resource.BTN_Aceptar');
            });
        }

    </script>
}