
 @model TUnidad;
@{
  var imagePath = @Html.DisplayFor(model =>model.Imagen); 
}
 
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Detalle </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Detalle</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-5">
              <div class="col-12">
                <img src="~/images/@imagePath" class="product-image" alt="Product Image">
              </div>
              
            </div>
            <div class="col-12 col-sm-7">
              <h3 class="my-3">@Html.DisplayFor(model =>model.Nombre)  @Html.DisplayFor(model =>model.Serie)</h3>
              <p>@Html.DisplayFor(model =>model.Descripcion)</p>

              <hr>
              <h4>Marca:</h4>
              <div class="bg-gray py-2 px-3 mt-1">
                <h2 class="mb-0">
                   @Html.DisplayFor(model =>model.Marca)
                </h2>
              </div>
                <h4>Modelo:</h4>
              <div class="bg-gray py-2 px-3 mt-1">
                <h2 class="mb-0">
                   @Html.DisplayFor(model =>model.Modelo)
                </h2>
              </div>
               <h4>Tipo Unidad:</h4>
              <div class="bg-gray py-2 px-3 mt-1">
                <h2 class="mb-0">
                   @Html.DisplayFor(model =>model.IdTipoUnidadNavigation.NombreTipoUnidad)
                </h2>
              </div>
                 <h4>Precio:</h4>
              <div class="bg-gray py-2 px-3 mt-1">
                <h2 class="mb-0">
                  S/. @Html.DisplayFor(model =>model.Precio)
                </h2>
              </div>

              <div class="mt-4">
                <a class="btn btn-default btn-lg btn-flat" asp-controller="Pedido" asp-action="Registrar" asp-route-id="@Model.Serie">
                  <i class="fas fa-heart fa-lg mr-2"></i>
                  Pedir
                </a>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <nav class="w-100">
              <div class="nav nav-tabs" id="product-tab" role="tablist">
                <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Caracteristica 1</a>
                <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Caracteristica 2</a>
                <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Caracteristica 3</a>
              </div>
            </nav>
            <div class="tab-content p-3" id="nav-tabContent">
              <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> @Html.DisplayFor(model =>model.Caracteristica1) </div>
              <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> @Html.DisplayFor(model =>model.Caracteristica2) </div>
              <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> @Html.DisplayFor(model =>model.Caracteristica3)</div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script>
  $(document).ready(function() {
    $('.product-image-thumb').on('click', function () {
      var $image_element = $(this).find('img')
      $('.product-image').prop('src', $image_element.attr('src'))
      $('.product-image-thumb.active').removeClass('active')
      $(this).addClass('active')
    })
  })
</script>

