@model TUnidad;
@{
  var imagePath = @Html.DisplayFor(model =>model.Imagen);   
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Detalles</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Detalle</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

        <section class="content">
      <div class="container-fluid">
        <!-- START ALERTS AND CALLOUTS -->
        <h5 class="mt-4 mb-2">Detalles de las unidades</h5>

        <div class="row">
          <div class="col-md-8">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-bullhorn"></i>
                  Unidades
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <div class="callout callout-danger">
                  <h5>Serie :</h5>

                  <p>@Html.DisplayFor(model =>model.Serie)</p>
                </div>

                <div class="callout callout-danger">
                  <h5>Nombre :</h5>

                  <p>@Html.DisplayFor(model =>model.Nombre)</p>
                </div>
                   <div class="callout callout-danger">
                  <h5>Modelo :</h5>

                  <p>@Html.DisplayFor(model =>model.Modelo)</p>
                </div>
                <div class="callout callout-info">
                  <h5>Marca:</h5>

                  <p>@Html.DisplayFor(model =>model.Marca)</p>
                </div>
                <div class="callout callout-info" >
                  <h5>Precio:</h5>

                  <p>@Html.DisplayFor(model =>model.Precio)</p>
                </div>
                  <div class="callout callout-info" >
                  <h5>Cantidad:</h5>

                  <p>@Html.DisplayFor(model =>model.Cantidad)</p>
                </div>
                 <div class="callout callout-info">
                  <h5>Descripcion:</h5>

                  <p>@Html.DisplayFor(model =>model.Descripcion)</p>
                </div>
                 <div class="callout callout-info">
                  <h5>Primera Caracteristica:</h5>

                  <p>@Html.DisplayFor(model =>model.Caracteristica1)</p>
                </div>
                 <div class="callout callout-info">
                  <h5>Segunda Caracteristica:</h5>

                  <p>@Html.DisplayFor(model =>model.Caracteristica2)</p>
                </div>
                 <div class="callout callout-info">
                  <h5>Tercera Caracteristica:</h5>

                  <p>@Html.DisplayFor(model =>model.Caracteristica3)</p>
                </div>
                
                <div class="callout callout-info">
                  <h5>Tipo Unidad:</h5>
                    <p>@Html.DisplayFor(model =>model.IdTipoUnidadNavigation.NombreTipoUnidad)</p>
                </div>
                 <div class="callout callout-info">
                  <h5>Estado Unidad:</h5>
                   <p>@Html.DisplayFor(model =>model.IdEstadoUnidadNavigation.NombreEstadoUnidad)</p>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>

           <div class="col-md-4">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-exclamation-triangle"></i>
                  Imagen
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <p style="text-align:center">
                <img src="~/images/@imagePath" width="350" height="350"  alt="Product Image">
                </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        </div>  
    </section>
    <!-- /.content -->
