@model TUnidad;
@{
    ViewData["Title"]="Index";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lista de las herramientas y maquinarias</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Unidad</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
        
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                       <th style="text-align:center;">Serie</th>
                        <th style="text-align:center;">Nombre </th>
                        <th style="text-align:center;">Marca</th> 
                        <th style="text-align:center;">Modelo</th>  
                        <th style="text-align:center;">Cantidad</th> 
                        <th style="text-align:center;">Estado</th> 
                        <th style="text-align:center;">Tipo Unidad</th> 
                        <th style="text-align:center;">Acciones</th> 
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (TUnidad  item in ViewBag.Unidad)
                    {
                    <tr>
                    <td>@item.Serie</td>
                    <td>@item.Nombre</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Cantidad</td>
                    <td>@item.IdEstadoUnidadNavigation.NombreEstadoUnidad</td>
                    <td>@item.IdTipoUnidadNavigation.NombreTipoUnidad</td>
                    <td style = "text-align:center;"><a class= "btn btn-success" asp-action="Actualizar"  asp-route-id="@item.Serie" >Modificar</a></td>
                 <!-- /    <td style = "text-align:center;"><a class= "btn btn-danger" asp-page="/Eliminar"  asp-route-id="@item.Serie" >Borrar</a></td>-->
                    <td style = "text-align:center;" margen><a class= "btn btn-primary" asp-action="Detalle"  asp-route-id="@item.Serie" >Ver Detalles</a></td>
                    </tr>
                    }
                  </tbody>
                </table>
                  <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
            </div>
              <td style = "text-align:left;"><a class= "btn btn-danger" asp-action="Registrar">Registrar</a></td>
            <!-- /.card -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->