@using Copreter.Resources;
@model Copreter.Models.TipoPartida.TipoPartidaIndexVM;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(@Resource.TIPOPARTIDA_Nro)
            </th>
            <th>
                @Html.DisplayName(@Resource.TIPOPARTIDA_Nombre)
            </th>
            <th>
                @Html.DisplayName(@Resource.TIPOPARTIDA_Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DtoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a type="button" class="btn btn-success" asp-action="Editar" asp-route-id="@item.Id">
                        <span class="fa fa-pencil" aria-hidden="true"></span>
                    </a>
                                        
                    <a type="button" class="btn btn-primary" asp-action="Detalle" asp-route-id="@item.Id">
                        <span class="fa fa-pencil" aria-hidden="true"></span>
                    </a>

                    <button type="button" class="btn btn-danger" data-toggle="modal" onclick="eliminar(@item.Id);">
                        <span class="fa-light fa-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>