@using Copreter.Resources;
@model Copreter.Models.Incidencia.IncidenciaEditableVM;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Resource.INCIDENCIA_Titulo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@Resource.INCIDENCIA_Titulo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@Resource.CARD_TITLE</h3>
                        </div>
                        <div class="card-body">
                            <div id="contentPartial">

                                <form asp-action="Crear" asp-controller="Incidencia" method="post">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>@Resource.INCIDENCIA_Fecha</label>
                                            <input type="text" class="form-control" placeholder="Fecha" asp-for="Fecha">
                                            <span asp-validation-for="Fecha" class="text-danger"> </span>
                                        </div>
                                        <div class="form-group">
                                            <label>@Resource.INCIDENCIA_Descripcion</label>
                                            <input type="text" class="form-control" placeholder="Descripcion" asp-for="Incidencia">
                                            <span asp-validation-for="Incidencia" class="text-danger"> </span>
                                        </div>
                                        <div class="form-group">
                                            <label>@Resource.INCIDENCIA_Hora</label>
                                            <input type="text" class="form-control" placeholder="HorasTrabajadas" asp-for="HorasTrabajadas">
                                            <span asp-validation-for="HorasTrabajadas" class="text-danger"> </span>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary"><span class="	fas fa-spell-check" aria-hidden="true"></span>@Resource.BTN_Guardar</button>
                                        <button asp-action="Index" class="btn btn-danger"><span class="fas fa-undo-alt" aria-hidden="true"></span>@Resource.BTN_Cancelar</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>