@using Copreter.Domain.Model.Enums;
@using Copreter.Resources;
@model Copreter.Models.Obra.ObraIndexVM;
@using System.Security.Claims;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Nro)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Obra)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Total)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Fecha)
            </th>
            <th>
                @Html.DisplayName(@Resource.COTIZACION_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DtoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.Empresa)
                </td>
                <td>
                   @Html.DisplayFor(modelItem =>item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreObra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoObra)
                </td>
                <td>
                    <a type="button" class="btn btn-success" asp-action="Detalle" asp-route-id="@item.Id">
                        <span class="far fa-eye" aria-hidden="true"></span>
                    </a>

                    @{
                        int rolId = int.Parse(User.FindFirstValue(ClaimTypes.Role));

                        if(item.IdEstadoObra == 1 && rolId == (int)ERolEnum.Gerente)
                        {
                            <a class="btn btn-info" asp-controller="Cotizacion" asp-action="Cotizar" asp-route-idObra="@item.Id"><span class="fas fa-calculator" aria-hidden="true"></span></a>
                            <a class="btn btn-warning" asp-action="ActualizarEstado" asp-route-id="@item.Id" asp-route-idEstado="3"><span class="fas fa-glasses" aria-hidden="true"></span>Observada</a>
                        }
                    }

                    <button type="button" class="btn btn-danger" data-toggle="modal" onclick="eliminar(@item.Id);">
                        <span class="far fa-trash-alt" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>