@using Copreter.Resources;
@model Copreter.Models.Cita.CitaEditableVM;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Resource.CITA_Titulo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@Resource.CITA_Titulo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@Resource.CARD_TITLE</h3>
                        </div>
                        <div class="card-body">
                            <div id="contentPartial">
                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="card-body">

                                            <input type="hidden" asp-for="Id" />
                                            <input type="hidden" asp-for="IdUsuarioRegistro" />
                                            <input type="hidden" asp-for="FechaRegistro" />

                                            <div class="form-group">
                                                <label>@Resource.OBRA_Nombre</label>
                                                <input type="text" class="form-control" placeholder="NombreObra" asp-for="NombreObra" readonly="@(true)">
                                                <span asp-validation-for="NombreObra" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.OBRA_Empresa</label>
                                                <input type="text" class="form-control" placeholder="NombreEmpresa" asp-for="NombreEmpresa" readonly="@(true)">
                                                <span asp-validation-for="NombreEmpresa" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.OBRA_Direccion</label>
                                                <input type="text" class="form-control" placeholder="Modelo" asp-for="Direccion" readonly="@(true)">
                                                <span asp-validation-for="Direccion" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.OBRA_Fecha_Inicio</label>
                                                <input type="text" class="form-control" placeholder="Marca" asp-for="FechaInicio" readonly="@(true)">
                                                <span asp-validation-for="FechaInicio" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.OBRA_Duracion</label>
                                                <input type="text" class="form-control" placeholder="Precio" asp-for="DuracionObra" readonly="@(true)">
                                                <span asp-validation-for="DuracionObra" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.USUARIO_Nombre</label>
                                                <input type="text" class="form-control" placeholder="Usuario" asp-for="Usuario" readonly="@(true)">
                                                <span asp-validation-for="Usuario" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.UNIDAD_Estado</label>
                                                <input type="text" class="form-control" placeholder="Descripción" asp-for="EstadoObra" readonly="@(true)">
                                                <span asp-validation-for="EstadoObra" class="text-danger"> </span>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <a asp-controller="Obra" asp-action="ActualizarEstado" asp-route-id="@Model.IdObra" asp-route-idEstado="1" class="btn btn-primary">Terminado</a>
                                            <button asp-action="Index" class="btn btn-danger"><span class="fas fa-undo-alt" aria-hidden="true"></span>@Resource.BTN_Volver</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Previsualizacion de Imagen</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <label>@Resource.CITA_Nro</label>
                                <input type="text" class="form-control" placeholder="Cita" asp-for="Id" readonly="@(true)">
                                <span asp-validation-for="Id" class="text-danger"> </span>
                            </div>
                            <div class="form-group">
                                <label>@Resource.CITA_Lugar</label>
                                <input type="text" class="form-control" placeholder="Lugar" asp-for="Lugar" readonly="@(true)">
                                <span asp-validation-for="Lugar" class="text-danger"> </span>
                            </div>
                            <div class="form-group">
                                <label>@Resource.CITA_Fecha</label>
                                <input type="text" class="form-control" placeholder="Modelo" asp-for="Fecha" readonly="@(true)">
                                <span asp-validation-for="Fecha" class="text-danger"> </span>
                            </div>
                    @*        <div class="form-group">
                                <label>@Resource.CITA_Hora</label>
                                <input type="text" class="form-control" placeholder="Marca" asp-for="Hora" readonly="@(true)">
                                <span asp-validation-for="Hora" class="text-danger"> </span>
                            </div>*@
                        </div>
                        <!-- /.card-body -->
                    </div>


                </div>
            </div>
        </div>

    </section>
</div>