@using Copreter.Resources;
@model Copreter.Models.ObraIncidencia.ObraIncidenciaEditableVM;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Resource.OBRA_INCIDENCIA_Titulo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@Resource.OBRA_INCIDENCIA_Titulo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@Resource.CARD_TITLE</h3>
                        </div>
                        <div class="card-body">
                            <div id="contentPartial">
                                <div class="row">
                                    <div class="col-md-8">


                                        <div class="card-body">

                                            <input type="hidden" asp-for="Id" />
                                            <input type="hidden" asp-for="IdUsuarioRegistro" />
                                            <input type="hidden" asp-for="FechaRegistro" />

                                            <div class="form-group">
                                                <label>@Resource.INCIDENCIA_Fecha</label>
                                                <input type="text" class="form-control" placeholder="Fecha" asp-for="Fecha" readonly="@(true)">
                                                <span asp-validation-for="Fecha" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.INCIDENCIA_Descripcion</label>
                                                <input type="text" class="form-control" placeholder="Descripcion" asp-for="Incidencia" readonly="@(true)">
                                                <span asp-validation-for="Incidencia" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                <label>@Resource.INCIDENCIA_Hora</label>
                                                <input type="text" class="form-control" placeholder="Modelo" asp-for="HorasTrabajadas" readonly="@(true)">
                                                <span asp-validation-for="HorasTrabajadas" class="text-danger"> </span>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <a asp-action="Index" asp-route-idObra="@Model.IdObra" class="btn btn-danger"><span class="fas fa-undo-alt" aria-hidden="true"></span>@Resource.BTN_Volver</a>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="card-body" id="imagePreview" style="text-align:center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>