@using Copreter.Resources;
@using Copreter.Utils;
@model Copreter.Models.ObraIncidencia.ObraIncidenciaIndexVM;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Resource.OBRA_INCIDENCIA_Titulo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@Resource.OBRA_INCIDENCIA_Titulo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@Resource.CARD_TITLE</h3>
                        </div>
                        <div class="card-body">
                            <div id="contentPartial">
                                @await Html.PartialAsync(Keys.PartialViewKeys.Index)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="divPopupEliminarObraIncidencia"></div>

    </section>
</div>

@section Scripts{
    <script type="text/javascript">

        function eliminar(id) {
            var param = {
                id: parseInt(id)
            };
            $.llamadaAjax('POST', 'html', 'json', '@Url.Action(Keys.ActionKeys.DeletePopup, Keys.ControllerKeys.ObraIncidencia)', JSON.stringify(param), function (data) {
                $.procesaRespuestaVistaParcial(data, $("#divPopupEliminarObraIncidencia"));
            }, function (XMLHttpRequest, textStatus, errorThrown) {
                notificacionAjax('@Resource.RESULT_ERROR', errorThrown, '@Resource.BTN_Aceptar');
            });
        };
    </script>
}